<form action="/chat" method="post" id="chatForm">
  <input type="text" name='message' placeholder="Hey There .. Type Something" id="chatInput"/>
  <input type="hidden" name="dummy" />
  <input type='submit' class='btn' id='chatSubmitBtn' value="Send">
</form>
