<h5> Type your Username and start Chatting</h5> 

<div class='row mt48'>
  <div class='col m4 s12'>
     
    include usernameForm.pug
    include chatForm.pug

  </div>
  <div class='col m6 s12 offset-m2' id='chatOutputDiv'>
    include chatOutput.pug
  </div>
</div>

