<form>
  <div class='input-field'>
    <input type="text" name="userNameInput" id="userNameInput" placeholder="John Doe" />
    <label> Username </label>
    <input type="submit" class='btn' value="Save" id='userNameSubmit' />
  </div>
</form>