<head>
  <meta charset='utf-8'>
  <title> Voting App - Pusher Chartjs Mongoose </title>
  <meta name="description" content="Real Time Voting App">
  <meta name="keywords" content="Nodejs, Express, Pusher, MongoDB, MLAB, Mongoose, JavaScript, RealTime, Charts, Canvas.js, WebApp">
  <meta name="author" content="Burning.Raven06">
  <link rel='shortcut icon' href='assets/favicon/favicon.ico'>
  <link rel='stylesheet' href='assets/materialize/css/materialize.min.css'>
  <link rel='stylesheet' href='assets/materialize-icons/materialize-icons.css'>
  <link rel='stylesheet' href='assets/custom/styles.css'>
  <script src='assets/materialize/js/materialize.min.js'> </script>
  <script src='assets/pusher/pusher.min.js'> </script>
  <script src='assets/canvasjs/canvas.min.js'> </script>
</head>