.mb24{
	margin-bottom: 24px;
}
.mb64{
	margin-bottom: 64px;
}
.mt64{
	margin-top: 64px;
}
.mb32{
	margin-bottom: 32px;
}
.mt32{
	margin-top: 32px;
}
#statusDiv{
	height: 10px;
	padding-top: 12px;
	padding-bottom: 24px;
}
.gray-font-color{
	color: #606060;
}
.span-me{
	font-family: 'Monospace';
	font-weight: bold;
}
.mt48{
	margin-top:48px;
}
.usernameSpan{
	font-weight: bold
}
#chatOutputDiv{
	overflow-y: scroll;
	height : 60vh;
}
.timePara{
	font-size: 10px
}
.pd24{
	padding-top:24px;
	padding-bottom:24px;
}
#onlineUsersCount{
	margin-left : 48px;
	font-size: 16px;
	font-weight: bold;
}