extends ./layouts/main.pug

block bodyContent
  <div class='container'>
    include ./vote/pageBody.pug
  </div>

block footerScripts
  <script src="assets/custom/pusherClientKey.js"></script>
  <script src='assets/custom/pusher_chartjs_mongoose_app.js'> </script>
