<!doctype html>
<html>
	<head>
		<title> Voting App - Pusher Chartjs Mongoose </title>
		<link rel='stylesheet' href='assets/materialize/css/materialize.min.css'>
	</head>
	<body>
		<h1> Template works </h1>
	</body>
</html>
