<div class='row'>
  <div class='col s8'>
    <h4 class='mt48 text-center'> Vote your Favorite Drink! </h4>
  </div>
  <div class='col s4'>
    <div class='mt48' id='statusDiv'> </div>
  </div>
</div>
<div class='row' >
  <div class='col s4'>
    include ./voteForm.pug
  </div>
  <div class='col s8'>
    <div id='chartDiv'>
    </div>
  </div>
</div>