<h3 class='mt48 mb24'> Vote your Favorite Drink! </h3>
<p> Created by <span class='span-me'>BurningRaven06</span> </p>
<div id='statusDiv'> </div>
<div class='row'>
  <div class='col s4'>
    include ./voteForm.pug
  </div>
  <div class='col s8'>
    <div id='chartDiv'>
    </div>
  </div>
</div>