extends ../layouts/main.pug

block bodyContent
  <div class='container'>
    <h3> About This Thing </h3> 
    <div class='mt48 row'>
      <h5> An App made to checkout Real Time Data </h5>
      <div class='col s6' style='padding-left : 0'>
        <ul class='collection mt48'>
          <li class='collection-item'> <strong> Backend </strong> Express </li>
          <li class='collection-item'> <strong> Frontend </strong> Vanilla JS </li>
          <li class='collection-item'> <strong> Real Time Client </strong> Pusher </li>
          <li class='collection-item'> <strong> Database </strong> MongoDB + Mongoose (ORM) at MLAB </li>
          <li class='collection-item'> <strong> Frontend Design </strong> MaterializeCSS </li>
        </ul>
      </div>
    </div>
  </div>